
/* Group page styles */
.group-page {
    margin: 1rem;
    box-sizing: border-box;
    border: solid 1px blue;
}

.page-header {
    margin: 1rem;
    padding: 5px;
    box-sizing: border-box;
    border: solid 1px blue;
}

.group-list {
    margin: 1rem;
    padding: 5px;
    box-sizing: border-box;
    border: solid 1px blue;
}

/* Group tile styles */
.group-tile {
    margin: 1rem;
    padding: 5px;
    box-sizing: border-box;
    border: solid 1px blue;
}