:root {
  --color-primary: #349525;
  --color-primary-med: #44923b;
  --color-primary-dark: #276220;
  --font-family: Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-family: var(--font-family);
  background-color: white;
  color: #222;
}
